.headerContainer {
    padding-inline: 80px;
    display: flex;
    direction: row;
    align-items: center;
    max-width: 100%;
    background-color: #ffffff;
    justify-content: space-between;
}

.logoStack {
    padding-inline: 64px;
}

@media (max-width: 1280px) {
    .headerContainer {
        padding: 0;
    }

    .logoStack {
        padding-inline: 32px;
    }
}

.logo:hover {
    animation: logoRotation 1s ease-in-out infinite alternate;
}

@keyframes logoRotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(20deg);
    }
}